<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TransformDemo1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21FCBA571EF0CF20008D10D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21FCBA701EF0CF20008D10D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21FCBA7B1EF0CF21008D10D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
